body{
    display: flex;
   
}

.container{
   max-width: 1130px;
}

.btn-signin{
    width: 102px;
    height: 46px;
    border-color: #BCD0E5;
    border-radius: 5px;
    border: 15px;
    font-family: 'Poppins', sans-serif; /*do not look the same*/
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;

    /*box-shadow: 0px 4px 4px;*/

   
    /*font-color: #173A56;*/

}

.btn-signup {
    width: 110px;
    height: 46px;
    background: #FF9900;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; /*do not look the same*/
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

section {
    display: inline-flex;
}

h1 {
    width: 518px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    text-align: start;
    letter-spacing: 0.02em;
    color: #2F281E;
    }
}

p  {
    width: 518px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: start;
    letter-spacing: 0.02em;
    color: #544837;
}

.image-one {
    height: 605px;
    width: 495px;
    align-items: flex-end;

}
