body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1130px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
    float: right;
    flex-direction: row-reverse; /*???*/
    margin: 10px;
}

.logo {
    float:left;
}

.btn-in {
    margin: 5px;
    width: 102px;
    height: 46px;
    background-color: #FFFFFF;
    color: #173A56;
    border-radius: 5px;
    border-color: #BCD0E5;
    border-width: 2px;
    font-family: 'Poppins', sans-serif; /*look for a simular font*/
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}
    
.btn-up {
    margin: 5px;
    width: 110px;
    height: 46px;
    background-color: #FF9900 ;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif; /*look for a simular font*/
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    /*box-shadow: 0px 4px 4px;*/
}



  
    
header {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    margin-top: 152px;
}

.introduction{
    margin-top: 70px;
    width: 539px;
    justify-self: center;
    align-self: center;
}

.second-context {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    max-width: 1130px;
    margin-top: 210px;
    
}


.btn-now {

}
.third-context {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 101px; 
}

.fourth-content [

]

.fifth-content {

}

.man-lecturing{ 
    width: 520px;
    height: 574px;
}


h1 {
    width: 518px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    text-align: start;
    letter-spacing: 0.02em;
    color: #2F281E;
    }

h2 {

}

h3 {

}

p  {
    width: 518px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: start;
    letter-spacing: 0.02em;
    color: #544837;
}
}

.btn-Now2